* {
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
}

body {
    background-image: url("/img/bg-weather.jpeg");
    background-attachment: fixed;
}

#top-bar {
    display: flex;
    justify-content: left;
    background-color: rgba(227, 227, 219, 0.9);
    padding: 5px 15px;
    border-radius: 10px;
}

#top-bar h3 {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#top-bar h4 {
    display: flex;
    align-items: center;
}

#top-bar h1 {
    margin: auto 0;
}

#search-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;
    background-color: rgba(227, 227, 219, 0.9);
    border-radius: 10px;
}

#search-bar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forecasts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 20px;
}

.day {
    padding: 10px;
    border: 1px solid #217591;
    width: 85%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #217591;
    opacity: 95%;
}

.overcast {
    background-image: url("/img/clouds.jpeg");
    background-size: cover;
}

.few {
    background-image: url("/img/fewclouds.jpeg");
    background-size: cover;
}

.scattered {
    background-image: url("/img/scatteredclouds.jpeg");
    background-size: cover;
}

.clear {
    background-image: url("/img/istockphoto-825778252-170667a.jpeg");
    background-size: cover;
}

.snow {
    background-image: url("/img/snowgif.gif");
    background-size: cover;
}

.nasty {
    background-image: url("/img/clouds.jpeg");
    background-size: cover;
}

.rain {
    background-image: url("/img/raingif.gif");
    background-size: cover;
}

hr {
    width: 100%;
}

#back-to-top {
    text-align: center;
    margin-bottom: 35px;
    background-color: rgba(227, 227, 219, 0.9);
    border-radius: 10px;
}

.date {
    margin-bottom: 5px;
    text-align: center;
    background-color: #a3dbe1;
    border-radius: 5px;
}

.temp {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.icon {
    margin-bottom: 5px;
    text-align: center;
}

.description {
    margin-bottom: 10px;
}

#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 500px;
    margin: 25px auto 0;
    border-radius: 10px;
    border: 1px solid #217591;
    box-shadow: 3px 3px 3px #217591;
    opacity: 95%;
}

#footer {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: rgba(227, 227, 219, 0.9);
    padding: 5px 15px;
    border-radius: 10px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

figcaption {
    background-color: rgba(227, 227, 219, 0.9);
}

@media screen and (min-width: 768px) {
    .day {
        width: 125px;
    }

    #search-bar form {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .day {
        width: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .day {
        width: 225px;
    }

    * {
        font-size: 1.5rem;
    }
}


